body {
    background-image: url(./background-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;

}
input{
    box-sizing: border-box;
    border-color:rgb(79, 79, 197);
    color:rgb(79, 79, 197);
    height: 30px;
}
.first{
    float:none;
    display: block;
    padding: 20px;
    background-color: #eee;
    width: 98%;
    text-align:center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
}
li{
    float: left;
}
li a {
    display: block;
    color: #eee;
    text-align:end;
    padding: 20px;

}
li a:hover{
    background-color: aqua;
}
.avator {
    align-items: start;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: blanchedalmond;
}
#mysite{
    color: #eee;
    padding-top: 20px;
}
.image-overlay{
    justify-content: center;
    display: flex;
    padding-left: 100px;
    padding-top: 200px;
    align-items: center;
    color: black;
    letter-spacing: 10px;  
    height: 90px;
}
.navbar {
    background-color: rgb(26, 17, 17);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px;
    font-size: 17px;
}
#active {
    padding-left: 1000px;
    padding-bottom: 35px;
}
button{
    border-radius: 25px;
    background-color: rgb(18, 91, 100);
}
h3{
    text-align: center;
}
#special{
    font-weight: 200;
    color: #eee;
    text-align: center;
}
#word{
    font-weight: 200;
    color: #eee;
    text-align: center;
}
span{
    background-image: url(./blackbox.jpeg);background-size: cover;
    background-color: white;
    box-sizing: border-box;
    opacity: 0.8;
    
    
}
.endnote{
    color: #eee;
}


